* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    font-family: 'Playfair Display', serif;
}

.appearance {
    float: left;
    width: 34%;
    min-height: 100vh;
    background-color: #05b993;
    background-image: url("https://devcareer.io/images/bg.svg");
}

.appearance .visible {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appearance .visible .image img {
    border: 5px solid #efefef;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 10px;
}

.appearance .visible .description a{
    background-color: #efe;
    padding: 18px 92px;
    border: none;
    border-radius: 2px;
    color: #000;
    font-size: 17px;
}

.appearance .visible .description a:hover {
    background-color: #3c3c3c;
    color: #fff;
    text-decoration: none;
}

/*Details Section*/
.details {
    float: right;
    width: 66%;
}

.details .links p {
    margin: 15px;
    font-size: 15px;
}
.details .links p span {
    color: gold;
    font-weight: bold;
}

.details .links a {
    color: #000;
}

.details .links p a:hover {
    text-decoration: none;
}

.details .links i {
    font-size: 13px;
}

.portfolio {
    width: 630px;
    margin: 65px 0px 0px 75px;
}

.portfolio .skills {
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.portfolio .skills p {
    background: #595959;
    padding: 2px 15px;
    color: #efe;
    border-radius: 3px;
}

.portfolio .hobby {
    border-top: 5px solid #31d19c;
    padding-top: 15px;
}

.portfolio .follow {
    margin-top: 50px;
}

.portfolio .follow a i {
    margin-top: 10px;
}

.portfolio .follow a i {
    font-size: 35px;
    letter-spacing: 20px;
}

.portfolio .follow a i.fa-facebook-square {
    color: #3b5998;
}

.portfolio .follow a i.fa-github-square{
    color: #211F1F;
}

.portfolio .follow a i.fa-instagram {
    color: #E1306C;
}

.portfolio .follow a i.fa-linkedin {
    color: #0e76a8;
}
.portfolio .follow a i.fa-medium {
    color: #3cb371;
}
.portfolio .follow a i.fa-twitter-square {
    color: #00acee;
}